/* Custom property asosan css stillarda qo'llaniladi. sayt yoki loyihadag bir necha bor takrorlanadigan shiriftlar, ranglar va shunga o'xhsash bir nechamarotaba takrorlanadigan stillarni vaziyatga qarab o'zgartirishga to'g'ri keladi. Shunaqa vaziyatlarda  Custom propertydan foydalanib xar bir klass ichidagi stillarni bittalab o'zgartirmasdan bitta buyrug' orqali o'zgartirishimiz kerak bo'lgan stillarni o'zgartirishimiz mumkun. Custom propertyning eng sodda osuli root elementidan foydalanish*/
/* root elementi eng tepada turadi */
/* U quyidagicha ishlaydi */

  /* Ixtiyoriy nom berish mumkun */
  /* Bu berilgan nomni qaysi elementni rangini yoki orqa fon rangini o'zgartirmoqchi bo'lsan uning stili ichiga var() elementi orqali quyidagicha joylab olamiz */
  /* background-color: var(background-color); */

/* Custop bropertyni faqatgina ranglarda emas boshqa umumiy bo'lgan stillarda xam huddi shunday ishlatamiz */
/* Custom proportyni birorbir elementning stili biror nuqtada boshqa stilga o'zgarishi kerak bo'lsa ham ishlatishimiz mumku. */
/* Masalan: Hamma narsa outline stili bir xil berilgan bo'lib bitta yoki bir-nechta elementning  outline stili o'zgarishi kerak bo'lsa ushu nuqtaga kelganda uning stili uchun quyidagich root ichidagi element stilini o'zgartirib qo'yishimiz mumkun */
:root {
  --brand-color: red;
  --outline-color: var(--brand-color)
  /* --outline-color ichiga brand-color rangini o'zgaruvchi sifatida kiritib qo'ydik */
}

/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

/* Meros qilib olish */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

* :focus {
  outline: 5px dashed var(--outline-color);
}
.content {
  --outline-color: #fff;
  background-color: var(--brand-color);
  padding: 5px;
  /* Ya'ni bu clas uchun paragrifning orqa foni outlayn rangi bir xil bo'lib qoldi. bu xolatda paragraf ichidagi linkni outlayni ko'rinmay qoladi. Bu xolatda paragraf stilida :root ichidagi --brand color rangini 'ozgartirib qo'ydik */
}